<fuse-card *ngIf="_collection" class="flex flex-col max-w-90 w-full mt-3 filter-article">
    <ol-map class="object-cover" [lat]="-16.6958288" [lon]="-49.4443537" [zoom]="4.6" [height]="'200px'">
        <ol-control class="mobileHide" control="FullScreen"></ol-control>
        <ol-layer *ngFor="let layer of layers" [layer]="layer"></ol-layer>
        <ol-map-features [features]="_collection.features"></ol-map-features>
    </ol-map>
    <div class="m-4">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Metadata</div>
            <div class="ml-2 -mt-2 -mr-3">
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        (click)="analyze()">
                        <mat-icon color="primary" [svgIcon]="'heroicons_outline:presentation-chart-line'"></mat-icon>
                        <span>Analyze Features</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-1 mt-3">
            <div class="flex items-center m-2" matTooltip="{{_collection.columns}}">
                <mat-icon
                    class="icon-size-5 text-accent"
                    [svgIcon]="'heroicons_solid:view-list'"></mat-icon>
                <div class="ml-2">Attributes</div>
            </div>
            <div class="flex items-center m-2">
                <mat-icon
                    class="icon-size-5 text-accent"
                    [svgIcon]="'heroicons_solid:globe'"></mat-icon>
                <div class="ml-2">EPSG: {{_collection.epsg}}</div>
            </div>
            <div class="flex items-center m-2">
                <mat-icon
                    class="icon-size-5 text-accent"
                    [svgIcon]="'feather:calendar'"></mat-icon>
                <div class="ml-2">Created at {{_collection.created_at | date}}</div>
            </div>
            <div class="flex items-center m-2">
                <mat-icon
                    class="icon-size-5 text-accent"
                    [svgIcon]="'heroicons_solid:user'"></mat-icon>
                <div class="ml-2">Owner: {{_collection.username}}</div>
            </div>
        </div>
    </div>
</fuse-card>
