<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a [routerLink]="['/collections']" class="whitespace-nowrap text-primary-500">Collections</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Feature Analysis
                </h2>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap w-full p-2">
        <ol-map class="flex-col" *ngIf="features.length > 0" [zoom]="4.6" [width]="width" [height]="'500'">
            <ol-control class="mobileHide" control="FullScreen"></ol-control>
            <ol-layer *ngFor="let layer of layers" [layer]="layer"></ol-layer>
            <ol-map-features [features]="features"></ol-map-features>
        </ol-map>
        <apx-chart
            class="flex-col w-70"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
        ></apx-chart>
    </div>
</div>
